@charset "UTF-8";


/* common */

.inner   {
    max-width: 600px;
    margin:50px auto;
    text-align: center;
}

a {
    color: #2B2A27;
    display: inline;

}

/* main */

.main-visual img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}

p {
    font-size: 14px;
    color: #2B2A27;
    margin-top: 20px;
}

.Reciye-Diary-Photos {
    display: flex;
}

.Reciye-Diary-Photos img {
    width: calc(100% / 3);
    object-fit: cover;
    height: 400px;
    
    vertical-align: top;
}

.link a{
    border:1px solid #2B2A27;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 14px;
}

.sns  a{
    font-size: 10px;
    margin-right: 15px;
}

.sns a:last-child {
    margin-right: 0;
}

footer {
    text-align: center;
}

small {
    font-size: 9px;
    display: inline-block;
    margin: 15px 0;
}


/* レスポンシブ */

@media (max-width: 834px) {
    .Reciye-Diary-Photos {
    display: block;
    
    }

    .Reciye-Diary-Photos img {
        width: 100%;
    }
}
